<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089098292197-39jvff3s0d2fedif0nu3qn58q2nri63t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089098292197-39jvff3s0d2fedif0nu3qn58q2nri63t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089098292197-5le3atf88b76htepr3q6hd18udith5sf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgGCJ5ovy2cbt8gDTce0-UICIb9ZCFDU</string>
	<key>GCM_SENDER_ID</key>
	<string>1089098292197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poneahealth.patient.firebase</string>
	<key>PROJECT_ID</key>
	<string>ponea-dev-pt</string>
	<key>STORAGE_BUCKET</key>
	<string>ponea-dev-pt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089098292197:ios:ff0b0ef1276f60c5afad0c</string>
</dict>
</plist>